
@{
    ViewData["Title"] = "LogIn Menu";

}
<h1>@ViewData["Title"]</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div>
    <form method="post" asp-controller="User" asp-action="LogIn">
        <label for="text">Email:</label><br>
        <input type="text" id="Email" name="Email" required><br>
    
        <label for="text">Password:</label><br>
        <input type="password" id="Password" name="Password" required><br>

        <button type="submit">LogIn</button>
    </form>
</div>

