@{
    ViewData["Title"] = "SignUp Menu";
}
<h1>@ViewData["Title"]</h1>



@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div>
    <form method="post" asp-controller="User" asp-action="SignUp">
        <label for="text">Name:</label><br>
        <input type="text" id="Name" name="Name" required><br>
        <label for="text">Email:</label><br>
        <input type="text" id="Email" name="Email" required><br>
        <label for="text">Password:</label><br>
        <input type="password" id="Password" name="Password" required><br>
        <button type="submit">SignUp</button>
    </form>
    
</div>
